<link rel="stylesheet" href="/css/users_profile.css">
<h1>codial <%=title%></title></h1>
<h1>Name: <%=name%></h1>
<h1>Email: <%=email%></h1>
<a href="/users/sign-in"><button>sign out</button></a>
    